@charset "utf-8";
/* CSS Document */

/* ====================== Basics ====================== */
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
	:focus {
	color: orange;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

/* ====================== Main Content ====================== */
#maincontent {
	background-color: #f3f3f3;
	min-height: 100%;
}
/* ====================== FOOTER ====================== */
#footer {
	background-color: #444;
	color: #aaa;
	font-size: 8pt;
	letter-spacing: 1px;
	padding: 2em;
	text-align: center;
	text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
	width: 100%;
	height: 6em;
	background-color: #252831;
	text-align:center;
}

nav h1 {
	margin: auto;
	padding-top: 1em;
}

nav h1 a {
	color: #fff;
	font-size: 22pt;
	font-weight: 200;
	letter-spacing: 10px;
	text-transform: uppercase;
}


@media (max-width: 536px) {
	nav {
		padding-bottom: 3em;
	}
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
	width: 100%;
	height: 50px;
	background-color: #aaa;
	align-items: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

@media (max-width: 590px) {
	.filter-options {
		width: 100%;
		height: 150px;
		flex-direction: column;
	}
}

.filter-options h2 {
	color: white;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1;
	margin: 0 20px;
}
.filter-options select {
	background-color: white;
	border: 1px solid #fff;
	font-family: Arial,sans-serif;
	font-size: 11pt;
	height: 35px;
	letter-spacing: 0;
	margin: 10px;
	padding: 0 10px;
	width: 200px;
}

#breadcrumb {
		padding: 10px 40px 16px;
		list-style: none;
		background-color: #eee;
		font-size: 17px;
		margin: 0;
		width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
		display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
		padding: 8px;
		color: black;
		content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
		color: #0275d8;
		text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
		color: #01447e;
		text-decoration: underline;
}

/* ====================== Lefleat Map styling ====================== */
.leaflet-container {
	position: relative;
	height: 400px;
	width: 100%;
	left: 0;
	top: 0;
	background-color: red;
	}
